{{#if zeroSelectedIssues}}
  <h2>Discourse Credentials:</h2>
  <p>
    Enter your Discourse Credentials so we can import your selected GitHub issues.
  </p>

  <div class="alert alert-danger" role="alert">
    <p>
      <b>Oops!</b><br />
      Seems you have not selected any GitHub issues to import. Please go back and pick at least one issue.
    </p>
    <a href="/repos" class="btn btn-primary">Go Back</a>
  </div>
{{else}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h2>Discourse Credentials:</h2>
        <p>
          Enter your Discourse Credentials so we can import your selected GitHub issues.
        </p>

        <form>
          <div id="checkSuccess" class="alert alert-success hidden">Success! We were able to access your instance, please select a Category below.</div>
          <div id="checkError" class="alert alert-danger hidden">Oops! We were unable to access your site using the settings you provided.</div>
          <div class="form-group">
            <label for="discourseUrl">Discourse URL:</label>
            <input type="url" class="form-control" name="url" id="discourseUrl" value="{{discourse.url}}" placeholder="http://discourse.example.com" />
          </div>
          <div class="form-group">
            <label for="discourseUsername">Discourse Username:</label>
            <input type="text" class="form-control" name="username" id="discourseUsername" value="{{discourse.username}}" placeholder="Username" />
          </div>
          <div class="form-group">
            <label for="discourseApiKey">Discourse API Key:</label>
            <input type="text" class="form-control" name="api_key" id="discourseApiKey" value="{{discourse.api_key}}" placeholder="API Key" />
          </div>
          <div class="form-group">
            <button type="button" id="btnCheckSettings" class="btn btn-primary" data-loading-text="Checking...">Check Settings</button>
          </div>
          <div class="form-group">
            <label for="discourseCategory">Discourse Category:</label>
            <select class="form-control" name="category" id="discourseCategory" {{#unless discourse.hasCategories}}disabled="disabled"{{/unless}}>
              <option value="" class="keep">Select a Category</option>
              {{#if discourse.hasCategories}}
                {{#each discourse.categories}}
                  <option value="{{id}}">{{name}}</option>
                  {{#each subcategories}}
                    <option value="{{id}}">&nbsp;&nbsp; {{name}}</option>
                  {{/each}}
                {{/each}}
              {{/if}}
            </select>
          </div>
          <div class="form-group">
            <button type="button" id="btnStartImport" class="btn btn-primary" disabled="disabled" data-loading-text="Importing...">Start Import</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <h2>Selected Issues:
        <a href="/repos/{{selectedRepo.full_name}}" class="btn btn-default">Change Issue Selection</a></h2>
        <p>
          These issues below will be imported from
          <a href="{{selectedRepo.html_url}}" target="_blank">{{selectedRepo.full_name}}</a>
          into the Discourse instance provided.
        </p>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th class="text-center">Status</th>
          </tr>
          </thead>
          <tbody>
            {{#each issues}}
              <tr>
                <td>#{{number}}</td>
                <td><a href="{{html_url}}" target="_blank">{{title}}</a></td>
                <td class="text-center">
                  <i class="fa {{classNames}}" id="icon{{number}}" aria-hidden="true"></i>
                  <input type="hidden" class="issue-numbers" id="status{{number}}" data-completed="{{#if isCompleted}}true{{else}}false{{/if}}" name="issue{{number}}" value="{{number}}" />
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{{/if}}