<h2>Open Issues for <a href="{{selectedRepo.html_url}}" target="_blank">{{selectedRepo.full_name}}</a>:
<a href="/repos" class="btn btn-info">Change Repository Selection</a></h2>
<p>
  Select the issues you want to import into Discourse.
</p>

<ul class="nav nav-pills">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Filter by Label <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {{#each issueLabels}}
        <li {{#if selected}}class="selected"{{/if}}><a href="{{url}}">{{name}}</a></li>
      {{/each}}
    </ul>
  </li>
  <li role="presentation" {{#if hideClearFilter}}class="disabled"{{/if}}>
    <a href="{{clearFilterUrl}}"><i class="fa fa-close"></i> Clear Filter</a>
  </li>
  <li role="presentation">
    <span class="selected-status">
      <span class="numSelectedIssues">{{numSelectedIssues}}</span> of {{numTotalIssues}} selected
    </span>
  </li>
  <li role="presentation">
    <a href="{{showSelectedUrl}}" class="btn btn-info">{{#if showSelectedButton}}Show Selected{{else}}Show All{{/if}}</a>
  </li>
  <li role="presentation" class="pull-right">
    <a href="/discourse" class="btn btn-primary">Continue</a>
  </li>
</ul>

<table class="table table-hover">
  <thead>
    <tr>
      <th><input type="checkbox" class="select-all" value="all" /></th>
      <th>#</th>
      <th>Title</th>
      <th>Labels</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    {{#each issues}}
      <tr {{#if selected}}class="selected"{{/if}}>
        <td><input type="checkbox" name="issues[]" value="{{number}}" {{#if selected}}checked="checked"{{/if}} /></td>
        <td>#{{number}}</td>
        <td><a href="{{html_url}}" target="_blank">{{title}}</a></td>
        <td>{{labelTags}}</td>
        <td>{{comments}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if showBottomButton}}
  <ul class="nav nav-pills">
    <li role="presentation" class="pull-right">
      <a href="/discourse" class="btn btn-primary">Continue</a>
    </li>
  </ul>
{{/if}}